body {
  background-color: #1f293a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  font-family: 'Inter', sans-serif;
}
.dropdown-toggle::after {
  content: none;
}
.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}
.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
.custom-shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.custom-shadow:hover {
  transform: translateY(-5px);
}
.card {
  background-color: #1f293a;
  border-radius: 15px;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  object-fit: cover;
}
.custom-title {
  color: #00ffaf;
  font-weight: 600;
  margin: 15px 0;
}
.card-link {
  text-decoration: none;
}
.card-link:hover .custom-title {
  text-decoration: underline;
}
.custom-text {
  color: #e2f1ff;
}
.telegram-handle {
  color: #00ffaf;
  font-weight: 500;
}
.btn_21 {
  background-color: #00ffaf;
  border: none;
  color: #1d2633 !important;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 2s;
  text-decoration: none;
}
.list-group-invite {
  background-color: transparent;
}
.logo-img {
  margin-left: -55px;
  height: 55px;
  width: auto;
}
.btn_21:hover {
  background-color: #0ba477;
  transform: scale(1.05);
}
.btn_21:focus {
  outline: none;
}
.custom-navbar {
  background-color: #1f293a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #00ffaf;
  padding: 5px 10px;
}
.custom-navbar .navbar-nav {
  align-items: center;
}
.custom-navbar .nav-link {
  color: #ffffff;
  padding: 10px 15px;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.custom-navbar .nav-link:hover {
  color: #00ffaf;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}
.navbar-nav {
  gap: 10px;
}
.custom-navbar .navbar-toggler {
  border-color: #ffffff;
}
.custom-navbar .navbar-toggler-icon {
  background-color: #ffffff;
}
.search-form {
  position: relative;
}
.search-input::placeholder {
  color: gray;
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
.search-input {
  width: 250px;
  height: 50px;
  border: 4px solid #00ffaf;
  border-radius: 25px;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  padding-left: 10px;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
}
.search-input:focus {
  width: 300px;
  border-radius: 20px;
  background: none;
  color: #fff;
  border-color: #00ffaf;
  box-shadow: none;
}
.search {
  background-color: #00ffaf;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search:hover {
  background-color: #0ba477;
}
.dropdown-menu {
  background-color: #1d2633;
  color: #1d2633;
}
.dropdown-item {
  color: #ffffff;
}
.public_user_profile-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.public_user_profile-card {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(31, 41, 58, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.dropdown-item:hover {
  background-color: #495057;
}
.pagination {
  border-radius: 20px;
  background-color: transparent;
  padding: 10px;
}
.page-item {
  margin: 0 5px;
}
.page-link {
  color: #fff;
  background-color: #1f293a;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}
.page-link:hover {
  background-color: rgba(0, 255, 175, 0.8);
  border-color: #00ffaf;
  color: #1f293a;
}
.page-item.active .page-link {
  background-color: #00ffaf;
  color: #1f293a;
  border-color: #00ffaf;
}
.page-item.disabled .page-link {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1f293a;
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #1f293a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #00ffaf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.create-chat-btn {
    margin-left: auto;
    margin-right: 20px;
}
