body {
  background-color: #1f293a; /*url("../images/bg-image.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  font-family: 'Inter', sans-serif;

}
.dropdown-toggle::after {
  content: none;
}


.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.custom-shadow {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Увеличиваем размытие и добавляем прозрачность */
    transition: transform 0.3s; /* Добавляем плавный переход для эффекта наведения */
}

.custom-shadow:hover {
    transform: translateY(-5px); /* Эффект поднятия карточки при наведении */
}

.card {
    background-color: #1f293a; /* Цвет фона карточки */
    border-radius: 15px; /* Полузакругленные края */
    transition: transform 0.3s; /* Плавное увеличение при наведении */
}

.card:hover {
    transform: translateY(-10px); /* Подъем карточки при наведении */
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 300px;
    object-fit: cover;
}

.custom-title {
    color: #00ffaf; /* Цвет заголовка */
    font-weight: 600; /* Полужирный шрифт */
    margin: 15px 0; /* Отступы вокруг заголовка */
}

.card-link {
    text-decoration: none; /* Уберите подчеркивание текста ссылки */
}

.card-link:hover .custom-title {
    text-decoration: underline; /* Подчеркивание заголовка при наведении */
}

.custom-text {
    color: #e2f1ff; /* Цвет текста */
}

.telegram-handle {
    color: #00ffaf; /* Цвет для ника в Telegram */
    font-weight: 500; /* Полужирный шрифт для ника */
}
.btn_21 {
    background-color: #00ffaf; /* Салатовый цвет для кнопок */
    border: none; /* Убираем стандартную рамку */
    color: #1d2633 !important; /* Цвет текста кнопки */
    border-radius: 20px; /* Закругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопки */
    transition: background-color 0.3s, transform 2s; /* Плавные переходы */
    text-decoration: none;
.list-group-invite {
    background-color: transparent;
}
}
.logo-img {
    margin-left: -55px;
    height: 55px; /* Задайте высоту логотипа */
    width: auto; /* Пропорциональная ширина */
}
.btn_21:hover {
    background-color: #0ba477; /* Темнее при наведении */
    transform: scale(1.05); /* Немного увеличиваем кнопку при наведении */
}

.btn_21:focus {
    outline: none; /* Убираем стандартный обвод при фокусе */
}

.custom-navbar {
    background-color: #1f293a; /* Цвет для хедера */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Легкая тень */
    border-bottom: 2px solid #00ffaf; /* Нижняя граница салатового цвета */
    padding: 5px 10px;

}
.custom-navbar .navbar-nav {
    align-items: center;
}
.custom-navbar .nav-link {
    color: #ffffff; /* Цвет текста ссылок */
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease; /* Плавная анимация для навигации */
}

.custom-navbar .nav-link:hover {
    color: #00ffaf; /* Цвет текста навигационных ссылок при наведении */
}
.navbar-nav .nav-item {
    margin-right: 10px; /* Подберите нужное значение */
}
.navbar-nav {
    gap: 10px; /* Подберите нужное значение */
}
.custom-navbar .navbar-toggler {
    border-color: #ffffff; /* Белая рамка для кнопки */
}

.custom-navbar .navbar-toggler-icon {
    background-color: #ffffff; /* Белая иконка для кнопки */
}

.search-form {
    position: relative;
}
.search-input::placeholder {
    color: gray;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
.search-input {
    width: 250px; /* Ширина поля ввода */
    height: 50px; /* Высота поля ввода */
    border: 4px solid #00ffaf;
    border-radius: 25px; /* Округлые края */
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding-left: 10px; /* Отступ для текста */
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
}

.search-input:focus {
    width: 300px; /* Ширина при фокусе */
}

.search {
    background-color: #00ffaf; /* Цвет фона кнопки */
    border: none; /* Без границы */
    color: #fff; /* Цвет иконки */
    border-radius: 50%; /* Круглая форма */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    display: flex; /* Используем flexbox для центрирования */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход фона */
}

.search:hover {
    background-color: #0ba477; /* Изменяем цвет фона при наведении */
}


.dropdown-menu {
    background-color: #1d2633; /* Цвет фона, например, темно-серый */
    color: #1d2633; /* Цвет текста */
}

.dropdown-item {
    color: #ffffff; /* Цвет текста для элементов выпадающего меню */
}
.public_user_profile-profile-container {
    display: flex; /* Используем флекс для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    min-height: 100vh; /* Минимальная высота контейнера на весь экран */
    padding: 20px; /* Отступы внутри контейнера */
}
.public_user_profile-card {
    width: 100%; /* Ширина карточки на 100% от родителя */
    max-width: 600px; /* Максимальная ширина карточки */
    margin: 10px; /* Отступы вокруг карточки */
    padding: 10px; /* Внутренние отступы для карточки */
    background-color: rgba(31, 41, 58, 0.9); /* Полупрозрачный фон */
    border-radius: 15px; /* Закругленные углы карточки */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Тень для карточки */
    word-wrap: break-word; /* Позволяет переносить длинные слова */
    overflow-wrap: break-word; /* Дополнительная поддержка для переносов */

}

.dropdown-item:hover {
    background-color: #495057; /* Цвет фона при наведении */
}

.pagination {
    border-radius: 20px; /* Полузакругленные края */
    background-color: transparent; /* Полупрозрачный фон */
    padding: 10px; /* Отступы внутри пагинации */
}

.page-item {
    margin: 0 5px; /* Отступы между элементами пагинации */
}

.page-link {
    color: #fff; /* Цвет текста по умолчанию (белый) */
    background-color: #1f293a; /* Темный фон кнопок */
    border: 2px solid transparent; /* Начальный цвет границы */
    border-radius: 15px; /* Полузакругленные края для ссылок */
    padding: 8px 12px; /* Отступы внутри ссылок */
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы */
}

.page-link:hover {
    background-color: rgba(0, 255, 175, 0.8); /* Цвет фона при наведении */
    border-color: #00ffaf; /* Цвет границы при наведении */
    color: #1f293a; /* Цвет текста при наведении */
}

.page-item.active .page-link {
    background-color: #00ffaf; /* Цвет фона для активной страницы */
    color: #1f293a; /* Цвет текста для активной страницы */
    border-color: #00ffaf; /* Цвет границы для активной страницы */
}

.page-item.disabled .page-link {
    color: rgba(255, 255, 255, 0.5); /* Цвет текста для неактивных элементов */
    background-color: #1f293a; /* Темный фон для неактивных кнопок */
    pointer-events: none; /* Отключаем события клика для неактивных элементов */
}

/* Стилизация полосы прокрутки для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Ширина вертикальной полосы прокрутки */
    height: 12px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #1f293a; /* Цвет фона полосы прокрутки */
    border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb {
    background: #00ffaf; /* Цвет самой полосы прокрутки */
    border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет полосы прокрутки при наведении */
}
