{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat-messages" id="chat-messages">
        {% for message in messages %}
            <div class="chat-message">
                <strong>{{ message.user.username }}:</strong> {{ message.message }}
                <span class="timestamp">{{ message.timestamp }}</span>
            </div>
        {% endfor %}
    </div>
    <input type="text" id="chat-message-input" placeholder="Введите ваше сообщение..." autocomplete="off">
    <button id="chat-message-submit">Отправить</button>
</div>
<script>
    const groupName = "{{ group_name }}";
</script>
<script src="{% static 'deps/js/chat.js' %}"></script>
{% endblock %}

