{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/main_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main-card text-center rounded-3 shadow">
                    <div class="main-card-body">
                        <h1 class="animated-title">О Connect21</h1>
                        <p class="main-card-text">
                            Connect21 — это платформа, предназначенная для объединения людей с общими интересами.
                            Наша цель — создать сообщество, где пользователи могут находить единомышленников,
                            обмениваться знаниями и опытом, а также участвовать в интересных групповых мероприятиях.
                        </p>
                        <p class="main-card-text">
                            Мы предлагаем различные инструменты для поиска пользователей и создания групп по интересам,
                            что позволяет делиться опытом и получать новые знания. Платформа также поддерживает
                            обмен сообщениями, что делает общение более доступным и удобным.
                        </p>
                        <p class="main-card-text">
                            Наши пользователи имеют возможность настраивать свои профили, делиться интересами и находить
                            людей, с которыми их связывают общие хобби и цели. Мы верим, что вместе мы можем
                            достичь большего, и мы рады приветствовать вас в нашем сообществе.
                        </p>
                        <p class="main-card-text">
                            Присоединяйтесь к нам, чтобы делиться опытом, находить поддержку и вдохновение в общении
                            с единомышленниками!
                        </p>
                        <div class="text-center main-card-text">
                            <p>
                                Made with ❤️ by <a href="https://github.com/agapoov" target="_blank">Zakhryapa</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}