{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/main_page.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'community:community-list' %}" class="btn btn-primary ">Перейти в список</a>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="main-card text-center rounded-3 shadow">
                    <div class="main-card-body">
                        <h1 class="animated-title">Добро пожаловать в Connect21!</h1>
                        <p class="main-card-text">
                            Здесь вы можете найти пользователей, обмениваться информацией и создавать группы по интересам.
                            Присоединяйтесь к сообществу, чтобы делиться опытом и получать новые знания.
                        </p>
                        <a href="{% url 'main:about' %}" class="btn btn-primary">Узнать больше</a>
                    </div>
                </div>

                <div class="main-card-text mt-4">
                    <h2>Ваши чаты</h2>
                    {% if user_groups %}
                        <ul class="list-group_revievs">
                            {% for membership in user_groups %}
                                <li class="list-group-item">
                                    <a href="{% url 'groups:group_chat' membership.group.name %}" class="btn btn-primary">{{ membership.group.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>У вас пока нет чатов.</p>
                    {% endif %}
                </div>

                <div class="main-card-text mt-4">
                    <h2>Входящие приглашения</h2>
                    {% if incoming_invitations.count > 0 %}
                        <ul class="list-group_revievs">
                            {% for invitation in incoming_invitations %}
                                <li class="list-group-item">
                                    Вы получили приглашение от {{ invitation.sender.username }} в группу "{{ invitation.group.name }}"!
                                    <form method="POST" action="{% url 'main:respond_invitation' invitation.id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" name="response" value="accept" class="btn btn-success btn-sm">Принять</button>
                                        <button type="submit" name="response" value="decline" class="btn btn-danger btn-sm">Отклонить</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>У вас пока нет входящих приглашений.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}