<!doctype html>
<html lang="en">

{% load static %}
<link rel="icon" href="{% static 'deps/images/favicon.svg' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'deps/css/register_css.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>{{ title }}</title>
<div class="container">
    <div class="login-box">
        <a href="{% url 'main:index' %}" class="btn back-btn">
            <i class="fas fa-arrow-left"></i> Вернуться
        </a>
        <h2>Профиль пользователя</h2>
        <form method="post" action="{% url 'users:profile' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="input-row">
                <div class="input-box">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">Имя</label>
                    {{ form.first_name.errors }}
                </div>
                <div class="input-box">
                    {{ form.last_name }}
                    <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                    {{ form.last_name.errors }}
                </div>
            </div>
            <div class="input-row">
                <div class="input-box">
                    {{ form.surname }}
                    <label for="{{ form.surname.id_for_label }}">Отчество</label>
                    {{ form.surname.errors }}
                </div>
                <div class="input-box">
                    {{ form.gender }}
                    <label for="{{ form.gender.id_for_label }}"></label>
                    {{ form.gender.errors }}
                </div>
            </div>
            <div class="input-row">
                <div class="input-box">
                    {{ form.age }}
                    <label for="{{ form.age.id_for_label }}">Возраст</label>
                    {{ form.age.errors }}
                </div>
                <div class="input-box">
                    {{ form.tg_username }}
                    <label for="{{ form.tg_username.id_for_label }}">Ник в @Telegram</label>
                    {{ form.tg_username.errors }}
                </div>
            </div>
            <div class="input-row">
                <div class="input-box">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                    {{ form.username.errors }}
                </div>
                <div class="input-box">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}"></label>
                    {{ form.email.errors }}
                </div>
            </div>
                <div class="input-row">
                    <div class="form-field">
                        <textarea id="interests" name="interests" maxlength="128" placeholder="Введите ваши интересы...">{{ form.interests.value|default:'' }}</textarea>
                        <label for="interests">Интересы</label>
                        {{ form.interests.errors }}
                    </div>
                    <div class="form-field">
                        <textarea id="additional_info" name="additional_info" maxlength="512" placeholder="Введите дополнительную информацию...">{{ form.additional_info.value|default:'' }}</textarea>
                        <label for="additional_info">Доп. информация</label>
                        {{ form.additional_info.errors }}
                    </div>
                </div>
            <button type="submit" class="btn">Сохранить изменения</button>
        </form>
    </div>
</div>

</html>
