{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="public_user_profile-profile-container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="public_user_profile-card custom-shadow" style="width: 500px;">
            <img src="{% if user_public_profile.image %}{{ user_public_profile.image.url }}{% else %}{% static 'deps/images/default_logo.webp' %}{% endif %}" alt="Аватар пользователя" class="card-img-top rounded-top">
            <div class="public_user_profile-card-body text-center">
                <h5 class="card-title custom-title">{{ user_public_profile.first_name }} {{ user_public_profile.last_name }}</h5>
                <p class="card-text custom-text">Ник в Telegram: <span class="public_user_profile-telegram-handle">{{ user_public_profile.tg_username }}</span></p>
                <p class="card-text custom-text">Возраст: {{ user_public_profile.age }}</p>
                <p class="card-text custom-text">Интересы: {% if user_public_profile.interests %}{{ user_public_profile.interests }}{% else %}У пользователя пока нет интересов{% endif %}</p>
                <p class="card-text custom-text">Дополнительная информация: {% if user_public_profile.additional_info %}{{ user_public_profile.additional_info }}{% else %}У пользователя пока нет дополнительной информации{% endif %}</p>
                <h2 class=" custom-title">Пригласить в группу</h2>
                {% if user_groups %}
                    <ul class="list-group">
                        {% for group in user_groups %}
                            <li class="list-group-invite">
                                <form method="POST" action="{% url 'community:invite_user' user_public_profile.id group.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn_21 btn-primary">Пригласить в {{ group.name }}</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Вы не состоите в группах, чтобы приглашать пользователей.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}